<a href="https://colab.research.google.com/github/bmt21508/bmt_python/blob/main/21508_9%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fp = open('지역평균기온.txt')
data = fp.read()
fp.close()

In [ ]:
data

'서울,20\n부산,26\n대구,24\n인천,24\n광주,25\n대전,22\n울산,26\n세종,23\n경기,24\n강원,23\n충북,26\n충남,22\n전북,24\n전남,23\n경북,28\n경남,29\n제주,26'

In [ ]:
print(data)

서울,20
부산,26
대구,24
인천,24
광주,25
대전,22
울산,26
세종,23
경기,24
강원,23
충북,26
충남,22
전북,24
전남,23
경북,28
경남,29
제주,26

In [ ]:
fp = open('지역평균기온.txt')
data = fp.readlines()
fp.close()

dt = {}
for line in data :
  line = line.replace('\n','')
  items = line.split('.')
  [items[0]] = int(items[1])
  

dt

IndexError: ignored

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 34 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 2s (5,666 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 160690 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
fp = open('지역평균기온.txt')
data = fp.readlines()
fp.close()

dt = {}

for line in data : 
  line = line.replace('\n', '')
  items = line.split(',')
  dt[items[0]] = int(items[1])
print(dt)

area = list(dt.keys())
temp = list(dt.values())
print(area)
print(temp)

import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic') # 한글 글꼴 설정

plt.figure(figsize=(10.5))
plt.plot([2, 5, 7, 1])
plt.show(

SyntaxError: ignored

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [21]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [22]:
type(s)

pandas.core.series.Series

In [26]:
import pandas as pd
import numpy as np

dates = pd.date_range('20201113', periods=6)

print(type(dates))
print(dates)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) 
# pd.DataFrame([행과열의 들어갈 값들], 행 항목, 열 항목)

print(type(df))
print(df)
df

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16',
               '2020-11-17', '2020-11-18'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.frame.DataFrame'>
                   A         B         C         D
2020-11-13  1.136200  1.392180 -0.574110  0.944047
2020-11-14 -0.624667 -0.221058  1.119856 -1.916533
2020-11-15  1.265641  0.133612 -0.847478 -1.062376
2020-11-16 -2.248451 -1.242705  0.417448  0.932511
2020-11-17  0.625905 -0.157298  0.454234 -1.583065
2020-11-18 -1.984072  0.080076  0.985034 -0.281851

                   A         B         C         D
2020-11-13  1.136200  1.392180 -0.574110  0.944047
2020-11-14 -0.624667 -0.221058  1.119856 -1.916533
2020-11-15  1.265641  0.133612 -0.847478 -1.062376
2020-11-16 -2.248451 -1.242705  0.417448  0.932511
2020-11-17  0.625905 -0.157298  0.454234 -1.583065
2020-11-18 -1.984072  0.080076  0.985034 -0.281851

In [29]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

In [30]:
df2

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [32]:
dates = pd.date_range('20210430' , periods=6)

In [33]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [34]:
df

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [35]:
df.head()

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389

In [39]:
df.tail(1)

                   A         B         C         D
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [40]:
df.head(3)

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211

In [41]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [42]:
df

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [43]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [45]:
df.values

array([[ 0.30898165,  1.0995814 ,  1.0131407 ,  1.38486807],
       [ 0.41231616,  1.56351517,  0.21482288,  1.13120217],
       [-1.17435611, -0.92729682,  0.67931889,  0.31421052],
       [ 0.37450744, -1.6562748 , -1.42584342, -0.93055562],
       [ 0.03439087, -1.03687935, -0.52168318, -0.72938908],
       [-0.33384893, -0.15730108,  1.04711682,  1.56610264]])

In [46]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.063001 -0.185776  0.167812  0.456073
std    0.612154  1.276681  0.976396  1.086168
min   -1.174356 -1.656275 -1.425843 -0.930556
25%   -0.241789 -1.009484 -0.337557 -0.468489
50%    0.171686 -0.542299  0.447071  0.722706
75%    0.358126  0.785361  0.929685  1.321452
max    0.412316  1.563515  1.047117  1.566103

In [47]:
df

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [49]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.308982    0.412316   -1.174356    0.374507    0.034391   -0.333849
B    1.099581    1.563515   -0.927297   -1.656275   -1.036879   -0.157301
C    1.013141    0.214823    0.679319   -1.425843   -0.521683    1.047117
D    1.384868    1.131202    0.314211   -0.930556   -0.729389    1.566103

In [50]:
df

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [55]:
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [56]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2021-05-05 -0.333849 -0.157301  1.047117  1.566103
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-04-30  0.308982  1.099581  1.013141  1.384868

In [57]:
df

                   A         B         C         D
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-05 -0.333849 -0.157301  1.047117  1.566103

In [60]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-03  0.374507 -1.656275 -1.425843 -0.930556
2021-05-04  0.034391 -1.036879 -0.521683 -0.729389
2021-05-02 -1.174356 -0.927297  0.679319  0.314211
2021-05-05 -0.333849 -0.157301  1.047117  1.566103
2021-04-30  0.308982  1.099581  1.013141  1.384868
2021-05-01  0.412316  1.563515  0.214823  1.131202