<a href="https://colab.research.google.com/github/bmt21508/bmt_python/blob/main/21508_7%EC%A3%BC%EC%B0%A8_%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
x = int(input('값 입력 : '))

if x % 2 == 0:
  print(f'{x}(은/는) 짝수')
elif x % 2 == 1
  print(f'{x}(은/는) 홀수')

값 입력 : 5
5는 홀수

In [13]:
x = float(input('성적입력 : '))

if x >= 70:
  print(f'{x} : Pass')
elif x >= 60:
  print(f'{x} : 재시험')
else:
  print(f'{x} : fail')

성적입력 : 100
100.0 : Pass

In [15]:
str = '안녕하세요'
'안' in str

True

In [16]:
1 in [1,2,3]

True

In [19]:
str = '안녕하세요'

for item in str:
  print(item)

안
녕
하
세
요

In [21]:
lst = list(range(5))

for item in lst:
  print(item)

0
1
2
3
4

In [24]:
xlist = list(range(10))
print(type(xlist))
print(xlist)

for item in xlist:
  print(item, end=' ')

<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0 1 2 3 4 5 6 7 8 9

In [26]:
d = {'a':1, 'b':2}

for item in d:
  print(item, end=' ')
print()
for item in d.values():
  print(item, end=' ')
print()
for key, value in d.items():
  print(key, value)

a b
1 2
a 1
b 2

In [27]:
xlist = range(10)
print(type(xlist))
print(xlist)

for item in xlist:
  print(item, end=' ')

<class 'range'>
range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [32]:
xlist = ['1', '2']
xlist = [int(item) for item in xlist]
print(xlist)

[1, 2]