<a href="https://colab.research.google.com/github/bmt21508/bmt_python/blob/main/21508_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [10]:
s = pd.Series( [1, 3, 5, np.nan, 6, 8] )
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [14]:
type(s)

pandas.core.series.Series

In [16]:
dates  = pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [30]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

df2

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [31]:
df

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [32]:
df.head()

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120

In [33]:
df.tail()

                   A         B         C         D
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [34]:
df

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [36]:
df.head(1)

                   A       B         C         D
2021-05-07  1.673145  0.0413  0.109393  0.684956

In [37]:
df.tail(2)

                   A         B         C         D
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [38]:
df

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [39]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [40]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [41]:
df.values

array([[ 1.67314506,  0.04130016,  0.10939345,  0.68495643],
       [ 0.07817935,  1.03652431,  0.49001009,  0.67899114],
       [-0.77626412, -0.71172656,  0.4950787 ,  1.02241766],
       [-0.33383552, -0.64258277,  0.29384612, -0.02973172],
       [-0.4017406 ,  0.4050421 ,  0.77250767,  0.03412034],
       [ 0.83605217, -0.72481227,  0.29777843,  0.42354914]])

In [42]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549>

In [43]:
df

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [46]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-05-07  0.684956  0.109393  0.041300  1.673145
2021-05-08  0.678991  0.490010  1.036524  0.078179
2021-05-09  1.022418  0.495079 -0.711727 -0.776264
2021-05-10 -0.029732  0.293846 -0.642583 -0.333836
2021-05-11  0.034120  0.772508  0.405042 -0.401741
2021-05-12  0.423549  0.297778 -0.724812  0.836052

In [49]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-12  0.836052 -0.724812  0.297778  0.423549
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-07  1.673145  0.041300  0.109393  0.684956

In [50]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-12  0.836052 -0.724812  0.297778  0.423549
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-08  0.078179  1.036524  0.490010  0.678991

In [51]:
df

                   A         B         C         D
2021-05-07  1.673145  0.041300  0.109393  0.684956
2021-05-08  0.078179  1.036524  0.490010  0.678991
2021-05-09 -0.776264 -0.711727  0.495079  1.022418
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732
2021-05-11 -0.401741  0.405042  0.772508  0.034120
2021-05-12  0.836052 -0.724812  0.297778  0.423549

In [52]:
df['A']

2021-05-07    1.673145
2021-05-08    0.078179
2021-05-09   -0.776264
2021-05-10   -0.333836
2021-05-11   -0.401741
2021-05-12    0.836052
Freq: D, Name: A, dtype: float64

In [53]:
df['B']

2021-05-07    0.041300
2021-05-08    1.036524
2021-05-09   -0.711727
2021-05-10   -0.642583
2021-05-11    0.405042
2021-05-12   -0.724812
Freq: D, Name: B, dtype: float64

In [56]:
df[['A', 'D']]

                   A         D
2021-05-07  1.673145  0.684956
2021-05-08  0.078179  0.678991
2021-05-09 -0.776264  1.022418
2021-05-10 -0.333836 -0.029732
2021-05-11 -0.401741  0.034120
2021-05-12  0.836052  0.423549

In [57]:
df.iat[1,1]

1.0365243126981971

In [60]:
df.iloc[1,1]

1.0365243126981971

In [64]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
print(df2);print()
print(df2[df2['E'].isin(['two','four'])]);print()

                   A         B         C         D      E
2021-05-07  1.673145  0.041300  0.109393  0.684956    one
2021-05-08  0.078179  1.036524  0.490010  0.678991    one
2021-05-09 -0.776264 -0.711727  0.495079  1.022418    two
2021-05-10 -0.333836 -0.642583  0.293846 -0.029732  three
2021-05-11 -0.401741  0.405042  0.772508  0.034120   four
2021-05-12  0.836052 -0.724812  0.297778  0.423549  three

                   A         B         C         D     E
2021-05-09 -0.776264 -0.711727  0.495079  1.022418   two
2021-05-11 -0.401741  0.405042  0.772508  0.034120  four

In [65]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))
s1

2021-05-07    1
2021-05-08    2
2021-05-09    3
2021-05-10    4
2021-05-11    5
2021-05-12    6
Freq: D, dtype: int64